body{
    background-color: black;
    border: 5px groove blueviolet;
}
h1{
    color: wheat;
}
pre{
    color: rgb(47, 231, 185);
    font-size: 20px;
}
p{
    color: wheat;
    font-size: 20px;
}
